body {
    margin: 0;
    background: #35363A;
}

canvas {
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.info {
    position: absolute;
    top: 1px;
    left: 1px;
    color: #989499;
}

.link {
    position: fixed;
    bottom: 0px;
    left: 2px;
    align-items: center;
    display: flex;
    text-decoration:none;
}

span {
    font-size: 20px;
    color: #989499;
}
